# Redis
REDIS_URL=redis://localhost:6379

# Worker
WORKER_QUEUE_NAME=notification
WORKER_CONCURRENCY=5
WORKER_LIMITER_MAX=10
WORKER_LIMITER_DURATION=1000

# Queue Job Options
JOB_ATTEMPTS=3
JOB_BACKOFF_DELAY=2000
JOB_BACKOFF_TYPE=exponential

# Bull Board Dashboard
BULL_BOARD_PORT=3010
BULL_BOARD_PATH=/admin/queues

# App
NODE_ENV=development
PORT=3000